# 6.1 - Boat Sales: Data Sourcing

## Table of Contents
### 1. Importing Data
### 2. Data Consistency 
### 3. Rename Columns
### 4. Data Cleaning
### 5. Data Profile
### 6. Exporting Data

### 01. Importing Data

In [1]:
# import libraries

import pandas as pd
import numpy as np 
import os

In [2]:
# define path 

path = r'/Users/robson/Desktop/CareerFoundry/Data Immersion/Achivement 6/Data Sets'

In [3]:
# importing dataframe

df = pd.read_csv(os.path.join(path, 'Raw Data','Boat Sales', 'boat_data.csv'), index_col=False)

### 02. Data Consistency

#### 01. Consistency Check

##### 01. Columns

###### After checking all columns in excel, I decided to keep all, since they should be relevant for my analysis.

In [4]:
# check all columns name in the dataframe

df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

In [5]:
# data description

df.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

###### Considering that my goal for this achievement is to carry out trends, geospatial, exploratory, regression, cluster and time-series analysis, all the columns are important for now, reason why I kept all of them.

##### 02. Mixed Types

In [6]:
# function to check if there is mixed types

for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

Manufacturer
Type
Material
Location

In [7]:
# check first twenty rows to visualize type of data

df.head(20)

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132
6,CHF 3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
8,EUR 3333,Fishing Boat,Crescent power boats,new boat from stock,2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote+service Oberbayern,45
9,EUR 3300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.35,1.73,NaN,Italy Â» Dormelletto,180
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland Â» Seengen,239
11,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa am ZÃ¼...,145
12,EUR 3500,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,Italy Â» Lake Garda Â» Moniga del Garda (BS),69
13,CHF 4600,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,Switzerland Â» Zugersee Â» Neuheim,113
14,CHF 4500,Fishing Boat,Italmarine power boats,"Used boat,Unleaded",1997,3.72,1.33,Aluminium,Switzerland Â» VierwaldstÃ¤ttersee Â» 6004,413
15,CHF 4400,Deck Boat,Buster power boats,"new boat from stock,Unleaded",0,3.88,1.49,Aluminium,Switzerland Â» Safenwil,263
16,CHF 4380,Sport Boat,Linder power boats,new boat from stock,0,4.31,1.64,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,462
17,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
18,EUR 4000,Pilothouse,BÃ©nÃ©teau power boats,"Used boat,Diesel",1981,8.00,2.84,PVC,"France Â» MARTGUES, MARTIGUES",265
19,EUR 4000,Cabin Boat,NaN,"Used boat,Unleaded",2011,6.37,2.31,GRP,Germany Â» Bayern Â» Forchheim/Ofr.,330

##### 2.1 Value Counts of Each Mixed Type Column

In [8]:
df['Manufacturer'].value_counts(dropna = False)

Manufacturer
NaN                            1338
BÃ©nÃ©teau power boats          631
Jeanneau power boats            537
Sunseeker power boats           383
Princess power boats            241
                               ...
ISA Yachts power boats            1
Couach power boats                1
Perini Navi Spa power boats       1
Palmer Johnson power boats        1
Hunter power boats                1
Name: count, Length: 911, dtype: int64

In [9]:
df['Type'].value_counts(dropna = False)

Type
Used boat,Diesel                4140
Used boat,Unleaded              1686
Used boat                       1462
new boat from stock,Unleaded    1107
new boat from stock              665
new boat from stock,Diesel       291
new boat on order,Unleaded       150
Display Model,Unleaded            75
new boat on order                 61
new boat on order,Diesel          61
Diesel                            57
Used boat,Electric                27
Unleaded                          22
Display Model,Diesel              19
new boat from stock,Electric      18
Display Model                     18
Used boat,Gas                     10
NaN                                6
Display Model,Electric             6
new boat from stock,Gas            2
new boat from stock,Hybrid         1
Used boat,Hybrid                   1
Display Model,Gas                  1
Electric                           1
Used boat,Propane                  1
Name: count, dtype: int64

In [10]:
df['Material'].value_counts(dropna = False)

Material
GRP                    5484
NaN                    1749
PVC                    1123
Steel                   939
Wood                    235
Aluminium               229
Plastic                  77
Carbon Fiber             30
Thermoplastic            15
Hypalon                   5
Reinforced concrete       1
Rubber                    1
Name: count, dtype: int64

In [11]:
df['Location'].value_counts(dropna = False)

Location
Netherlands Â» In verkoophaven                      309
Croatia (Hrvatska)                                  244
Italy Â» Toscana Â» Toscana                         173
Italy                                               155
France                                              152
                                                   ...
Italy Â» La Spezia, Italie                            1
France Â» Bretagne Â» Bretagne                        1
Italy Â» Linz Marine Test Centre "Italo Monzino"      1
Italy Â» Adriatic Sea (Fano)                          1
Switzerland Â» Bielersee Â» Gerolfingen               1
Name: count, Length: 2996, dtype: int64

In [12]:
# Considering that no NaN was found, I will use the code below

df['Location'][df['Location'].isnull()]

2269    NaN
2297    NaN
2494    NaN
2583    NaN
2653    NaN
2710    NaN
2796    NaN
2970    NaN
3112    NaN
3147    NaN
3259    NaN
3269    NaN
3276    NaN
3426    NaN
3447    NaN
3558    NaN
3568    NaN
3589    NaN
3590    NaN
3611    NaN
3659    NaN
3688    NaN
3802    NaN
3848    NaN
4173    NaN
4314    NaN
4376    NaN
4432    NaN
4452    NaN
4493    NaN
4494    NaN
4604    NaN
4699    NaN
4786    NaN
4813    NaN
8146    NaN
Name: Location, dtype: object

###### Although these were considered mixed-type datas, I will keep all the data type the same. All of them are considered mixed-type because they have "NaN" values, so if I change it, they will became a text "nan", which will bring no value to my analysis and, could even harm it. 

###### As for the 'Location' column, I will clean it.

##### 03. Missing Data

In [13]:
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

###### Considering that the missing data ('Manufacturer' and 'Material') surpress 5% of the whole column, I'll delete them. It is not possible to imput any value, otherwise could harm the analysis. I am also going to delete the null values in the 'Location' column, to avoid any misinterpretation of the data. 

###### As for the columns Type, Length, Width , I will apply the imputation technique. 

###### This will be done on '04. Cleaning Data'

##### 04. Duplicate Data

In [14]:
# check again the shape of this dataset 

df.shape

(9888, 10)

In [15]:
# check if there is any duplicate values

df.duplicated().value_counts()

False    9888
Name: count, dtype: int64

###### There are no duplicates in this dataset

### 03. Rename Columns

In [16]:
# check their names again 

df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

###### All the columns names are straightforward, so  there is no need to change their names, I will only adapt some columns.

In [17]:
# Columns renamed to follow a standard

df.rename(columns={'Boat Type': 'Boat_Type','Year Built': 'Year_Built', 'Number of views last 7 days': 'Views_7_days'}, inplace = True)

In [18]:
# check if the operation was sucessful

df.columns

Index(['Price', 'Boat_Type', 'Manufacturer', 'Type', 'Year_Built', 'Length',
       'Width', 'Material', 'Location', 'Views_7_days'],
      dtype='object')

### 04. Cleaning Data

##### 4.1 Missing Data

In [19]:
# define a variable with column 'Type' most repeated string

mode_type = df['Type'][df['Type'].notnull()].mode()

In [20]:
# fill the NaN values with 'Type' mode

df['Type'].fillna(mode_type, inplace=True)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/1180598171.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Type'].fillna(mode_type, inplace=True)

In [21]:
# define a variable with average of column Length

avg_length = df['Length'][df['Length'].notnull()].mean()

In [22]:
# fill the NaN values with 'Length' avg

df['Length'].fillna(avg_length, inplace=True)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/2374677956.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Length'].fillna(avg_length, inplace=True)

In [23]:
# define a variable with average of column Width

avg_width = df['Width'][df['Width'].notnull()].mean()

In [24]:
# fill the NaN values with 'Width' avg

df['Width'].fillna(avg_width, inplace=True)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/2689437222.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Width'].fillna(avg_width, inplace=True)

In [25]:
# check if there is any null value

df.isnull().sum()

Price              0
Boat_Type          0
Manufacturer    1338
Type               6
Year_Built         0
Length             0
Width              0
Material        1749
Location          36
Views_7_days       0
dtype: int64

In [26]:
# filter manufacturer and material missing values

df_filtered = df[df[['Manufacturer', 'Material', 'Location']].notnull().all(axis=1)]

In [27]:
# Check if it was successful

df_filtered.isnull().sum()

Price           0
Boat_Type       0
Manufacturer    0
Type            0
Year_Built      0
Length          0
Width           0
Material        0
Location        0
Views_7_days    0
dtype: int64

In [28]:
# check if the total rows changed

df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7037 entries, 1 to 9887
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         7037 non-null   object
 1   Boat_Type     7037 non-null   object
 2   Manufacturer  7037 non-null   object
 3   Type          7037 non-null   object
 4   Year_Built    7037 non-null   int64
 5   Length        7037 non-null   float64
 6   Width         7037 non-null   float64
 7   Material      7037 non-null   object
 8   Location      7037 non-null   object
 9   Views_7_days  7037 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 604.7+ KB

##### 4.2 Location Column

In [29]:
# check data types

df_filtered.dtypes

Price            object
Boat_Type        object
Manufacturer     object
Type             object
Year_Built        int64
Length          float64
Width           float64
Material         object
Location         object
Views_7_days      int64
dtype: object

In [30]:
# change encode

df_filtered['Location'] = df_filtered['Location'].astype(str)

df_filtered['Location_New'] = df_filtered['Location'].apply(lambda x: x.encode('latin1').decode('utf-8'))

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/1711530825.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Location'] = df_filtered['Location'].astype(str)
/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/1711530825.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Location_New'] = df_filtered['Location'].apply(lambda x: x.encode('latin1').decode('utf-8'))

In [31]:
# check if the new column was created

df_filtered.head()

,Price,Boat_Type,Manufacturer,Type,Year_Built,Length,Width,Material,Location,Views_7_days,Location_New
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,Germany » Bönningstedt
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,Switzerland » Lake of Zurich » Stäfa ZH
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,Germany » Bayern » München
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132,Switzerland » Lake Constance » Uttwil
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland Â» Seengen,239,Switzerland » Seengen

In [32]:
# considering that there is no pattern on how the location was defined, I will create another column with only the country

df_filtered['Country'] = df_filtered['Location_New'].str.split('»').str[0].str.strip()

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/1573260291.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Country'] = df_filtered['Location_New'].str.split('»').str[0].str.strip()

In [33]:
# check if it was created and only contain countries

df_filtered['Country'].value_counts(dropna=False)

Country
Germany                 1504
Italy                   1011
Switzerland             1007
France                   980
Croatia (Hrvatska)       676
                        ...
Serbia                     1
Mallorca                   1
Greetsile/ Krummhörn       1
Lithuania                  1
Thun                       1
Name: count, Length: 107, dtype: int64

In [34]:
# drop the 'Location' column

df_filtered.drop(columns=['Location'], inplace=True)
# check if it was deleted

df_filtered.columns

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/3262464337.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.drop(columns=['Location'], inplace=True)

Index(['Price', 'Boat_Type', 'Manufacturer', 'Type', 'Year_Built', 'Length',
       'Width', 'Material', 'Views_7_days', 'Location_New', 'Country'],
      dtype='object')

In [35]:
# rename 'Location_New' to 'Location'

df_filtered.rename(columns={'Location_New':'Location'}, inplace=True)

df_filtered.columns

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/2795180882.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.rename(columns={'Location_New':'Location'}, inplace=True)

Index(['Price', 'Boat_Type', 'Manufacturer', 'Type', 'Year_Built', 'Length',
       'Width', 'Material', 'Views_7_days', 'Location', 'Country'],
      dtype='object')

##### 4.3 - Price Column to EUR Currency

In [36]:
# Considering how the price is shown, it is important to separate it first

df_filtered[['Price_Currency', 'Price_Amount']] = df_filtered['Price'].str.split(expand=True)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/1982901643.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[['Price_Currency', 'Price_Amount']] = df_filtered['Price'].str.split(expand=True)
/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/1982901643.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[['Price_Currency', 'Price_Amount']] = df_filtered['Price'].str.split(expand=True)

In [37]:
# check 

df_filtered.head(10)

,Price,Boat_Type,Manufacturer,Type,Year_Built,Length,Width,Material,Views_7_days,Location,Country,Price_Currency,Price_Amount
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany » Bönningstedt,Germany,EUR,3490
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland » Lake of Zurich » Stäfa ZH,Switzerland,CHF,3770
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany » Bayern » München,Germany,EUR,3399
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,132,Switzerland » Lake Constance » Uttwil,Switzerland,CHF,3650
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,239,Switzerland » Seengen,Switzerland,CHF,3500
11,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,145,Switzerland » Lake of Zurich » Stäfa am Zürichsee,Switzerland,CHF,3480
12,EUR 3500,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,69,Italy » Lake Garda » Moniga del Garda (BS),Italy,EUR,3500
13,CHF 4600,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,113,Switzerland » Zugersee » Neuheim,Switzerland,CHF,4600
14,CHF 4500,Fishing Boat,Italmarine power boats,"Used boat,Unleaded",1997,3.72,1.33,Aluminium,413,Switzerland » Vierwaldstättersee » 6004,Switzerland,CHF,4500
15,CHF 4400,Deck Boat,Buster power boats,"new boat from stock,Unleaded",0,3.88,1.49,Aluminium,263,Switzerland » Safenwil,Switzerland,CHF,4400

In [38]:
# check dtypes

df_filtered.dtypes

Price              object
Boat_Type          object
Manufacturer       object
Type               object
Year_Built          int64
Length            float64
Width             float64
Material           object
Views_7_days        int64
Location           object
Country            object
Price_Currency     object
Price_Amount       object
dtype: object

In [39]:
# change Price_Amount dtype

df_filtered['Price_Amount'] = df_filtered['Price_Amount'].astype(float)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/2220617474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Price_Amount'] = df_filtered['Price_Amount'].astype(float)

In [40]:
# first define exchange rate for each currency in the column compared to EUR

currencies = {
    'CHF': 1.02,
    'Â£': 1.16,
    'EUR': 1.0,
    'DKK': 0.13
    }

exchange_rates = {'CHF': currencies['CHF'], 'Â£': currencies['Â£'], 'EUR': 1.0, 'DKK': currencies['DKK']}
# exchange_rates took from Google Finance on May 14, 2024.

In [41]:
def convert_to_eur(row, exchange_rates):
    if row['Price_Currency'] == 'CHF':
        return row['Price_Amount'] / exchange_rates['CHF']
    elif row['Price_Currency'] == 'Â£':
        return row['Price_Amount'] / exchange_rates['Â£']
    elif row['Price_Currency'] == 'EUR':
        return row['Price_Amount']
    elif row['Price_Currency'] == 'DKK':
        return row['Price_Amount'] / exchange_rates['DKK']
    else:
        return "Invalid currency"

In [42]:
# create column - Price_EUR and apply the formula above

df_filtered['Price_EUR'] = df_filtered.apply(convert_to_eur, exchange_rates = exchange_rates,axis=1)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_9617/1611325580.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Price_EUR'] = df_filtered.apply(convert_to_eur, exchange_rates = exchange_rates,axis=1)

In [43]:
df_filtered.head(10)

,Price,Boat_Type,Manufacturer,Type,Year_Built,Length,Width,Material,Views_7_days,Location,Country,Price_Currency,Price_Amount,Price_EUR
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany » Bönningstedt,Germany,EUR,3490.0,3490.000000
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland » Lake of Zurich » Stäfa ZH,Switzerland,CHF,3770.0,3696.078431
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany » Bayern » München,Germany,EUR,3399.0,3399.000000
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,132,Switzerland » Lake Constance » Uttwil,Switzerland,CHF,3650.0,3578.431373
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,239,Switzerland » Seengen,Switzerland,CHF,3500.0,3431.372549
11,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,145,Switzerland » Lake of Zurich » Stäfa am Zürichsee,Switzerland,CHF,3480.0,3411.764706
12,EUR 3500,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,69,Italy » Lake Garda » Moniga del Garda (BS),Italy,EUR,3500.0,3500.000000
13,CHF 4600,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,113,Switzerland » Zugersee » Neuheim,Switzerland,CHF,4600.0,4509.803922
14,CHF 4500,Fishing Boat,Italmarine power boats,"Used boat,Unleaded",1997,3.72,1.33,Aluminium,413,Switzerland » Vierwaldstättersee » 6004,Switzerland,CHF,4500.0,4411.764706
15,CHF 4400,Deck Boat,Buster power boats,"new boat from stock,Unleaded",0,3.88,1.49,Aluminium,263,Switzerland » Safenwil,Switzerland,CHF,4400.0,4313.725490

In [57]:
df_filtered[df_filtered['Price_Amount'] == 23500000.0]

,Price,Boat_Type,Manufacturer,Type,Year_Built,Length,Width,Material,Views_7_days,Location,Country,Price_Currency,Price_Amount,Price_EUR
3327,EUR 23500000,Mega Yacht,Benetti power boats,"Used boat,Diesel",2007,56.0,10.4,Steel,419,Greece » Athen,Greece,EUR,23500000.0,23500000.0

In [44]:
df_filtered.columns

Index(['Price', 'Boat_Type', 'Manufacturer', 'Type', 'Year_Built', 'Length',
       'Width', 'Material', 'Views_7_days', 'Location', 'Country',
       'Price_Currency', 'Price_Amount', 'Price_EUR'],
      dtype='object')

##### 4.4 - Year Built Column

In [45]:
# Considering that the minimum year built it was 0, I will filter this dataframe to keep all the values that are !=0

df_filtered = df_filtered[df_filtered['Year_Built'] !=0]

### 05. Data Profile

#### Descriptive Analysis

In [46]:
# Descriptive Analysis
df_filtered.describe()

,Year_Built,Length,Width,Views_7_days,Price_Amount,Price_EUR
count,6607.000000,6607.000000,6607.000000,6607.000000,6.607000e+03,6.607000e+03
mean,2006.764038,11.229124,3.476581,162.011200,2.904131e+05,4.296321e+05
std,12.658449,5.177139,1.120888,170.771177,7.927469e+05,2.775023e+06
min,1901.000000,2.320000,0.860000,13.000000,3.399000e+03,3.399000e+03
25%,2000.000000,7.470000,2.550000,73.000000,4.499450e+04,4.490000e+04
50%,2008.000000,10.000000,3.300000,113.000000,9.500000e+04,9.500000e+04
75%,2018.000000,13.720000,4.200000,187.000000,2.499975e+05,2.496520e+05
max,2021.000000,56.000000,16.000000,3263.000000,2.350000e+07,1.352163e+08

###### Most of the columns descriptive analysis show a logical value, except for the column "Year Built" that shows the minimum as 0, which could be used to represent as "Unknown".

In [47]:
# check frequency - Year_Built

df_filtered['Year_Built'].value_counts()

Year_Built
2020    976
2019    486
2008    333
2007    277
2006    274
       ...
1957      1
1933      1
1954      1
1940      1
1951      1
Name: count, Length: 78, dtype: int64

In [48]:
# check frequency - Length

df_filtered['Length'].value_counts()

Length
9.00     80
11.00    64
10.00    63
6.50     60
12.00    58
         ..
23.30     1
10.93     1
22.43     1
13.91     1
3.60      1
Name: count, Length: 1342, dtype: int64

In [49]:
# check frequency - Width

df_filtered['Width'].value_counts()

Width
2.50     235
3.00     167
2.59     146
2.55     135
2.54     120
        ...
5.57       1
7.59       1
6.45       1
10.50      1
9.98       1
Name: count, Length: 494, dtype: int64

In [50]:
# check frequency - Views_7_days

df_filtered['Views_7_days'].value_counts()

Views_7_days
74      61
81      57
73      57
110     53
67      53
        ..
1107     1
690      1
873      1
482      1
1917     1
Name: count, Length: 656, dtype: int64

In [51]:
# check frequency Price EUR

df_filtered['Price_EUR'].value_counts()

Price_EUR
4.500000e+04    50
6.500000e+04    49
5.500000e+04    48
7.500000e+04    45
3.500000e+04    42
                ..
1.203950e+06     1
9.482759e+05     1
1.222776e+06     1
1.232966e+06     1
3.705882e+03     1
Name: count, Length: 2337, dtype: int64

###### From this descriptive analysis all the values seems reasonable, reason why any further investigation does not seen necessary for now.

### 06. Exporting Data

In [52]:
df_filtered.to_pickle(os.path.join(path, 'Prepared Data','Filtered_Boat_Sales.pkl'))